
//
$(document).ready(function() {
    setTimeout(function(){
    // Selects SVG TAG and ADDS LINK FUNCTIONALITY
    var svgtag = document.querySelector("#sankey_multiple > div > div:nth-child(1) > div > svg")
    $(svgtag).attr("xmlns:xlink", "http://www.w3.org/1999/xlink")

    var linkNode = document.querySelector("#sankey_multiple > div > div:nth-child(1) > div > svg > g:nth-child(3) > text:nth-child(1)")
    $(linkNode).wrap( "<a xlink:href='OutlawArtistsAtThePitt'></a>" )

    var linkNode = document.querySelector("#sankey_multiple > div > div:nth-child(1) > div > svg > g:nth-child(3) > text:nth-child(3)")
    $(linkNode).wrap( "<a xlink:href='AsIfCompositionWereaDogandNotaGod'></a>" )

    $("#sankey_multiple").html($("#sankey_multiple").html());
  
    }, 500);
});









// #sankey_multiple > div > div:nth-child(1) > div > svg


// OUTLAW ARTS
// $(document).ready(function() {
// $(".outlaws").click(function() {
// $(this).css({"background-position":"12% 65%"})
// $(this).click(function() {
// $(this).css({"background-position":"8.5% 22%"})
// $(this).click(function() {
// $(this).css({"background-position":"100% 90%"})
// $(this).click(function() {
// $(this).css({"background-position":"92% 40%", "background-size":"600%"})                                 $(this).click(function(){
// $(this).css({"background-position":"87% 0%", "background-size":"250%"})
// $(this).click(function() {
// $(this).css({"background-position":"55% 35%", "background-size":"200%"}) 
// $(this).click(function() {
// $(this).css({"background-position":"100% 45%", "background-size":"50%","cursor":"initial" })


// });
// });
// });
// });
// });
// });
// });
// });

/*font-family: 'VT323', ;*/
/*font-family: 'Berkshire Swash', cursive;*/
/*font-family: 'Reenie Beanie', cursive;*/
/*font-family: 'Bonbon', cursive;*/
/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Audiowide', cursive;*/
// font-family: 'Poiret One', cursive;
// font-family: '', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Playball', cursive;
// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Codystar', cursive;
// font-family: 'Monofett', cursive;/



html.ultralottery > body > main > section.hugewin > img {
    position: absolute;
    height: 200px;
    -webkit-animation-name: hugewin;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: alternate;
    -webkit-animation-delay: 0s;
    -ms-animation-name: hugewin;
    -ms-animation-duration: 15s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: alternate;
    -ms-animation-delay: 0s;
    -moz-animation-name: hugewin;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: alternate;
    -moz-animation-delay: 0s;
}// ULTRA
html.ultralottery > body > main > section.ultralotto {
    > img {
        position: absolute;
        top: 35%;
        left: 25%;
        text-align: center;
        max-height: 150px;
    }
}

// HUGEWIN
@-webkit-keyframes hugewin {
    0% {
        left: 0%;
        top: 0%;
    }
    5%,
    15% {
        -webkit-transform: scale(20.3);
        -ms-transform: scale(20.3);
        transform: scale(20.3);
    }
    15% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {}
}
  &:nth-of-type(3) {
        -webkit-animation: movetheotherorafagain 1.5s infinite alternate;
        -moz-animation: movetheotherorafagain 1.5s infinite alternate;
        animation: movetheotherorafagain 1.5s infinite alternate;
    }