





// ORAF 

// $(document).ready(function(){
// $('.ultralotto').draggable()  
// });


$(document).ready(function() {
    setInterval(function() {
        $(".ultralotto").effect("pulsate", {
            times: 3
        }, 500)

    }, 5000);
});


<!-- <section class="timeline"> -->
<!-- <h2>Timeline</h2> -->
<!-- </section> -->

 







// ORAF 

// $(document).ready(function(){
// $('.ultralotto').draggable()  
// });


$(document).ready(function() {
    setInterval(function() {
        $(".ultralotto").effect("pulsate", {
            times: 3
        }, 500)

    }, 5000);
});





<!--//
sdsd

 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["sankey"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');

        data.addRows([
          [ '1988 Artist Exhibition', 'X', 5 ],
          [ 'A', 'Y', 7 ],
          [ 'A', 'Z', 6 ],
          [ 'B', 'X', 2 ],
          [ 'B', 'Y', 9 ],
          [ 'B', 'Z', 4 ]
        ]);

        // Sets chart options.
        var options = {
          width: 600,

        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);
      }
    </script>

<div id="sankey_basic" style="width: 900px; height: 300px;"></div>

 -->
//
$(document).ready(function() {
    setTimeout(function(){
    // Selects SVG TAG and ADDS LINK FUNCTIONALITY
    var svgtag = document.querySelector("#sankey_multiple > div > div:nth-child(1) > div > svg")
    $(svgtag).attr("xmlns:xlink", "http://www.w3.org/1999/xlink")

    var linkNode = document.querySelector("#sankey_multiple > div > div:nth-child(1) > div > svg > g:nth-child(3) > text:nth-child(1)")
    $(linkNode).wrap( "<a xlink:href='OutlawArtistsAtThePitt'></a>" )

    var linkNode = document.querySelector("#sankey_multiple > div > div:nth-child(1) > div > svg > g:nth-child(3) > text:nth-child(3)")
    $(linkNode).wrap( "<a xlink:href='AsIfCompositionWereaDogandNotaGod'></a>" )

    $("#sankey_multiple").html($("#sankey_multiple").html());
  
    }, 500);
});









// #sankey_multiple > div > div:nth-child(1) > div > svg


// OUTLAW ARTS
// $(document).ready(function() {
// $(".outlaws").click(function() {
// $(this).css({"background-position":"12% 65%"})
// $(this).click(function() {
// $(this).css({"background-position":"8.5% 22%"})
// $(this).click(function() {
// $(this).css({"background-position":"100% 90%"})
// $(this).click(function() {
// $(this).css({"background-position":"92% 40%", "background-size":"600%"})                                 $(this).click(function(){
// $(this).css({"background-position":"87% 0%", "background-size":"250%"})
// $(this).click(function() {
// $(this).css({"background-position":"55% 35%", "background-size":"200%"}) 
// $(this).click(function() {
// $(this).css({"background-position":"100% 45%", "background-size":"50%","cursor":"initial" })


// });
// });
// });
// });
// });
// });
// });
// });

/*font-family: 'VT323', ;*/
/*font-family: 'Berkshire Swash', cursive;*/
/*font-family: 'Reenie Beanie', cursive;*/
/*font-family: 'Bonbon', cursive;*/
/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Audiowide', cursive;*/
// font-family: 'Poiret One', cursive;
// font-family: '', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Playball', cursive;
// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Codystar', cursive;
// font-family: 'Monofett', cursive;/



html.ultralottery > body > main > section.hugewin > img {
    position: absolute;
    height: 200px;
    -webkit-animation-name: hugewin;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: alternate;
    -webkit-animation-delay: 0s;
    -ms-animation-name: hugewin;
    -ms-animation-duration: 15s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: alternate;
    -ms-animation-delay: 0s;
    -moz-animation-name: hugewin;
    -moz-animation-duration: 15s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: alternate;
    -moz-animation-delay: 0s;
}// ULTRA
html.ultralottery > body > main > section.ultralotto {
    > img {
        position: absolute;
        top: 35%;
        left: 25%;
        text-align: center;
        max-height: 150px;
    }
}

// HUGEWIN
@-webkit-keyframes hugewin {
    0% {
        left: 0%;
        top: 0%;
    }
    5%,
    15% {
        -webkit-transform: scale(20.3);
        -ms-transform: scale(20.3);
        transform: scale(20.3);
    }
    15% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {}
}
  &:nth-of-type(3) {
        -webkit-animation: movetheotherorafagain 1.5s infinite alternate;
        -moz-animation: movetheotherorafagain 1.5s infinite alternate;
        animation: movetheotherorafagain 1.5s infinite alternate;
    }

        @determined_number = rand(1..7)
    generate_front_page_image(@determined_number)
    @archive_path = match_link_path(@determined_number)# 
    def generate_front_page_image(det_number)
        @front_page_image  = "front_page_#{det_number}.png"     
    end

    def match_link_path(det_number)
                    @archive_path = case det_number
                    when 1  then "IngridKoenigs-RapOnTheSublime"
                    when 2  then  "AsIfCompositionWereaDogandNotaGod"
                    when 3  then "Elaine-Brewer-White-Seven-Sins-and-the-Television-Set"
                    when 4  then "AndAfterwardsJesusHimselfSentOutThroughThemFromEastToWestTheSacredAndImperishableProclamationOfEternalSalvation"
                    when 5  then "LookUponMyWorksYeMightyAndDespair"    
                    when 6  then "For Immediate Release"
                    when 7  then "OutlawArtistsAtThePitt"

                    else "root_path"
                end
    end
    def match_alt_tag(det_number)
        @alt_tag = case det_number
                    when 1  then "Absolutely sublime my dear"
                    when 2 then  "As if, my friend, as if."
                    when 3  then "The Seven Sins and the Televsion"
                    when 4  then "And Afterwards Jesus Himself Sent Out Through Them From East To West The Sacred And Imperishable Proclamation Of Eternal Salvation!"
                    when 5  then "Look Upon My Works Ye Mighty And Despair" 
                    when 6  then "For Immmmmmmmmmmmmediate Release"
                    when 7  then "Bound to be a hit!"
                    else "No alt tag available, sorry :("
                end
            end
            // html.directory {
// background: image-url("map_artistruncenters_1988.jpg") no-repeat center center fixed;
// -webkit-background-size: contain;
// -moz-background-size: contain;
// -o-background-size: contain;
// background-size: contain;
// }
// html.directory > body {
// background: none;
// overflow-x: hidden;
// }
// html.directory > body > main.container-fluid {
// margin: 0;
// position: relative;
// }
// .artist-centers-1988 {
// width: 100%;
// height: auto;   
// }
section.exhibition-wrapper {
    position: fixed;
    display: inline-block;
    top: 20%;
    right: 30%;
    height: 2vh;
    width: 2%;
    background-color: orange;
    > section.exhibition-timeline {
        position: fixed;
        // height: 90%;
        background-color: yellow;
    }
}
