<nav class = "navarchive">
  <%= link_to index_path, data: { no_turbolink: true } do %>
    <i id = "return-directory" style = "<%= styles(yield(:styles)) %>" class = "fa fa-circle-o-notch text-muted return-home"></i>
  <% end %>
</nav>

  