<% provide(:title, 'Directory::2055Project') %>
<% provide(:html_class, 'directory') %>
<% provide(:container_class, 'container-fluid directory') %>
 <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>

<section class="row text-center">
  <h1 class="project-logo">
    <!-- 2055  -->
  </h1>
</section>

<%= render "exhibitions" %>
<%= render "revolving_archive" %>

<section class="row text-center">
  <h1 class=" project-logo">
    <!-- PROJECT -->
  </h1>
</section>








