<% provide(:title, '2055 Project') %>
<% provide(:html_class, 'working') %>
<% provide(:container_class, "container-fluid") %>
        <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bonbon' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'> 
    <section class="benjamin-speaks row">
            <article class = "col-md-8 col-sm-8 col-xs-8">
                <h1><span class="greyq">“</span>Increasin<span id ="updown-g">g</span>ly&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspthe </h1>
                <h1>object of an exhibition </h1>
                <h1>is no longer the exhibition of</h1>
                <h1>works of art but the ex<span id ="updown-h">h</span>ibition of</h1>
                <h1>the exhibition as a work of art... <span class="greyq">”</span></h1>
            </article>
        </section>
        <section class="row navigation">
            <article class="colo col-md-5 col-md-offset-7 col-sm-5 col-sm-offset-7">
                <h1 class ="project-font">2055 PROJECT</h1>
                <h5 class = "text-muted"> &lt&#33-- UNDER CONSTRUCTION --&gt</h5>
                <h2 class = "unit-font"><a href="http://www.helenpittgallery.org/">UNIT/PITT</a></h2>
            </article>
        </section>