<% provide(:title, '2055 Project') %>
<% provide(:html_class, 'library') %>
<% provide(:container_class, "") %>



<%= render "google_fonts" %> 

<section class="intro-wrapper" data-2500="background-color:white;" data-3000="background-color:black;">
<article data-0="transform:scale(1);" data-3000="transform:scale(5.0);" data-3001="opacity:1;position:fixed;" data-3500="opacity:0;position:absolute;" class="introduction">

    <section data-0="transform:rotate(-23deg) translate(3%,22%)" data-1500="transform:translate(-1deg) translate(10%,60%);" class="benjamin-speaks row">
            <article class = "col-md-8 col-sm-8 col-xs-8">
                <h1><span class="greyq">“</span>Increasin<span id ="updown-g">g</span>ly&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspthe </h1>
                <h1>object of an exhibition </h1>
                <h1>is no longer the exhibition of</h1>
                <h1>works of art but the ex<span id ="updown-h">h</span>ibition of</h1>
                <h1>the exhibition as a work of art... <span class="greyq">”</span></h1>
            </article>
        </section>
        <section class="row navigation">
            <article class="colo col-md-5 col-md-offset-7 col-sm-5 col-sm-offset-7">
                <h1 class ="project-font">2055 PROJECT</h1>
                <h2 class = "unit-font">
                    <a href="http://www.helenpittgallery.org/">UNIT/PITT</a>
                </h2>
                <h2 class = "acknowledgments">
                    <%= link_to "Acknowledgments", acknowledgments_path, data: { no_turbolink: true } %>
                </h2>
            </article>
        </section>

</article>
</section> 

<article data-3500="opacity:0;position:relative;" data-4000="opacity:1; position:fixed;" class="directory-wrap">
<%= render "exhibitions" %>
</article>


<script type="text/javascript">
$(function() {
    skrollr.init();
});
$(document).on('page:load', function () {
skrollr.init().refresh(); 
});
</script>



