<%= provide(:html_class, "musikklub") %>
<%= provide(:container_class, "container-fluid") %>


<h4 class = "return-homepage-jamie-sidetwo unit-font">
	<%= link_to "2055 Project", root_path %> </h4>
<section class="musikklub-sideone">


<section class="row">
	<%= link_to musikklub_path, data: { no_turbolink: true } do %>
	<section class="fliptape">
			 <i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-left"></i> Side One 
	</section>
	 <% end %>
</section>

<section class="row">
	<section class="video-wrapper col-md-12 center-block">
<iframe width="420" height="315" src="https://www.youtube.com/embed/7-CAPwR-AAM?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=7-CAPwR-AAM&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
<iframe width="420" height="315" src="https://www.youtube.com/embed/Xt3EoQutZhc?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=Xt3EoQutZhc&amp;showinfo=0" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
	</section>
</section>

<section class="row">
	<section class="video-wrapper col-md-12 center-block">
<iframe width="420" height="315" src="https://www.youtube.com/embed/_CqO1V7rN4A?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=_CqO1V7rN4A&amp;showinfo=0" allowtransparency="true" frameborder="0" allowfullscreen></iframe>
<iframe width="420" height="315" src="https://www.youtube.com/embed/BaX01AmbYj8?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=BaX01AmbYj8&amp;showinfo=0" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
	</section>
</section>

<section class="row">
	<section class="video-wrapper col-md-12 center-block">
<iframe width="420" height="315" src="https://www.youtube.com/embed/L5prpJMrWhs?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=L5prpJMrWhs&amp;showinfo=0" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
<iframe width="420" height="315" src="https://www.youtube.com/embed/-uGwBz8q65A?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=-uGwBz8q65A&amp;showinfo=0" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
	</section>
</section>

<section class="row">
	<section class="video-wrapper col-md-12 center-block">
<iframe width="420" height="315" src="https://www.youtube.com/embed/EL3pP29N-Wc?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=EL3pP29N-Wc&amp;showinfo=0" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
<iframe width="420" height="315" src="https://www.youtube.com/embed/xP9E-HOBE3Q?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=xP9E-HOBE3Q&amp;showinfo=0" frameborder="0" allowtransparency="true" allowfullscreen></iframe>
	</section>
</section>
