<%= provide(:html_class, "phaseinduction") %>
<%= provide(:container_class, "container-fluid") %>

<nav class="homepage-graeme">
  <%= link_to "Back to 2055 Project", index_path %>
</nav>

<iframe width="100%" height="100%" src="https://www.youtube.com/embed/W4oO7lz0F8o?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="100%" height="100%" src="https://www.youtube.com/embed/DtVIw4u5vgQ?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>
<!--
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/N1mPNBAx5rw?list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BiDw6LjO6R8?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/-I0fm4hSNxg?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/lVhI6Xzu3VA?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wB6JQEsrL7w?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1UiIQaJwaB8?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/MKLw_M3ixsE?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sf0mJMSmkSo?autoplay=1&list=PLeH-_CKmhIEoVNd2mbZGiS_YHQlpwHvW1" class = "profile-waiaftl" frameborder="0" allowfullscreen></iframe> -->
