<%= provide(:html_class, "musikklub") %>
<%= provide(:container_class, "container-fluid") %>



<h4 class = "return-homepage-jamie unit-font">
	<%= link_to "2055 Project", root_path %> </h4>
<section class="musikklub-sideone">
	
	<section class="row text-right">	
		<%= link_to musikklub_sidetwo_path, data: { no_turbolink: true } do %>
			<section class="fliptape">
					  Side Two <i class="fa fa-angle-double-right"></i><i class="fa fa-angle-double-right"></i>
			</section>
		<% end %>
	</section>

	<section class="row video-row">
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/mMUhChPggCs?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=mMUhChPggCs&amp;showinfo=0" frameborder="0" allowfullscreen  scrolling="no"> </iframe>
		</div>
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/-5iI0__9S1c?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=-5iI0__9S1c&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/iZExWt-bj-k?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=iZExWt-bj-k&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>

	<section class="row video-row">
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/neYpHv7BgN0?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=neYpHv7BgN0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/rNU9s2h0il4?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=rNU9s2h0il4&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/4e_g6TVTgyg?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=4e_g6TVTgyg&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>

	<section class="row video-row">
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/g1PgP9gWXeA?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=g1PgP9gWXeA&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/rOKxP0jgG6E?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=rOKxP0jgG6E&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video-wrapper col-md-4">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/58XPsyWDEkw?wmode=opaque&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;loop=1&playlist=58XPsyWDEkw&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>
</section>






