<%= provide(:html_class, "musikklubselectors") %>
<%= provide(:container_class, "container-fluid") %>
<nav class="homepage">
  <%= link_to "back to 2055 Project", index_path %>
</nav>
<div class="video-wrapper-no-opacity col-md-12">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dvXoQNakyA8?autoplay=1&amp;list=PLeH-_CKmhIErnV1UB67KLPdgrubWL5nsF" class = "inverted" frameborder="0" allowfullscreen></iframe>
</div>
