// Place all the styles related to the Contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Contributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;
}

html.library > body {
    font-family: 'Cousine', sans-serif;
}

// NAVBAR
body > nav > div > div.navbar-header > a.navbar-brand {
    color: white;
    font-size: 1.5em;
    // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    letter-spacing: 4px;
    margin-right: 2em;
    font-family: 'Cousine', sans-serif;
}

.navbar-brand {
    font-family: 'Cousine', sans-serif;
}

.logo {
    margin: 0 0.5em;
    letter-spacing: 2px;
    color: white;
    // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
}

// add underline to navbar + color
#bs-example-navbar-collapse-1 > ul:nth-child(1) {
    width: 50%;
    > li > a {
        color: white;
        font-family: 'Cousine', sans-serif;
        &:hover {
            text-decoration: underline;
        }
    }
}

#bs-example-navbar-collapse-1 > ul:nth-child(1) > li:nth-child(1) {
    margin-right: 0%;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Cousine', sans-serif;
}

.active-section {
    background-color: #090909;
    border-radius: 5px;
}

// BEGIN BODY
main.container-fluid {
    margin: 0 5%;
    height: 100vh;
}

section.row {
    position: relative;
}

section.contributors {
    position: relative;
    margin-top: 8vh;
}

section.row > section.welcome {
    position: relative;
    margin-top: 13vh;
    padding-left: 5%;
}

// Image
.librarypage-logo {
    display: block;
    max-height: 175px;
    position: relative;
    bottom: 50px;
}

// WELCOME FONTSIZE 
body > main > section > section.welcome.col-md-8 {
    h4 {
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
}

// LINKS IN WELCOME 
body > main > section > section.welcome.col-md-8 > h4:nth-child(3) > a {
    color: black;
    font-weight: bold;
}

section.contributors > h4.contributor-title {
    color: grey;
}

section.contributors > p {
    display: block;
}

.current_contributor {
    font-weight: bolder;
    background-color: black;
    color: white;
    padding: 0.25em 0.75em;
    display: inline-block !important;
}

.contributors a {
    color: black;
}

body > main > section:nth-child(1) > section.contributors.col-md-3 > a > p {
    display: block;
    font-family: 'Cousine', sans-serif;
}

// SEARCH BAR
section.searchbar {
    position: absolute;
    margin-top: 2.5vh;
    margin-bottom: 10%;
    .searchfield {
        border: 2px solid black;
        padding: 0.25em;
        border-radius: 4px;
    }
    .submit-btn {
        background-color: #DDE4EC;
        color: black;
        border: 2px solid black;
        padding: 0.25em 0.75em;
        border-radius: 4px;
        margin-left: 2em;
    }
}

// SEARCH RESULTS
.results-of-search {
    margin-top: 15%;
}

.contributor-results {}

.book-results {}

.book-result-title-author {}

// AUTHOR TITLE
body > main > section:nth-child(1) > section.contributors_books.col-md-8 > section:nth-child(1) > h4 {
    // font-size: 1.25em;
    font-weight: bolder;
    margin-bottom: 1.5em;
    color: grey;
}

.book-display {
    margin-bottom: 0.2em;
    font-size: 0.9em;
}

.book_author {}

.book_title {}

// POSITION BOOKS
body > main > section:nth-child(1) > section.contributors_books {
    position: relative;
    top: 8vh;
}

.bio {
    margin-top: 10%;
    margin-bottom: 15%;
    font-size: 1.23em;
    line-height: 1.25em;
    p {
        font-size: 0.8em;
        line-height: 1.25em;
    }
}

// BIO POSITIONING
// body > main > section:nth-child(2) > article.bio {
// margin-top: 5%;
// font-size: 1.25em;
// text-align: justify;
// }
// AUTHORS
.author-display {
    margin-top: 10vh;
    height: 70vh;
    // background-color: teal;
}

// TITLE PAGE
.title-display {
    margin-top: 10vh;
    height: 70vh;
}

.author-display > h3 {}

// AUTHORS
.author-group {
    ul {
        margin-bottom: 2%;
    }
    li {
        display: inline-block;
    }
}

.title-group {
    ul {
        margin-bottom: 2%;
    }
    li {
        display: inline-block;
    }
}

// @media 
@media only screen and (max-width: 767px) {
    .librarypage-logo {
        max-height: 100px;
        position: relative;
        bottom: 0px;
    }
    // logo
    body > nav > div > div.navbar-header > a.navbar-brand {
        margin-right: 0em;
    }
    .welcome {
        text-align: right;
    }
    .welcome h1 {
        font-size: 22px;
    }
    .welcome h4 {
        font-size: 12px;
    }
    .welcome h3 {
        font-size: 16px;
    }
    .hidemobile {
        // display: none;
    }
    .searchbar {
        left: 35%;
        .searchfield {
            width: 60px;
        }
    }
    .contributors a {
        font-size: 0.75em;
    }
    .book-display {
        font-size: 0.75em;
    }
    body > main > section:nth-child(1) > section.contributors_books.col-md-8.col-md-offset-1 > section:nth-child(1) > p {
        color: black;
        text-decoration: underline;
        font-size: 1em;
    }
    .results-of-search {
        margin-top: 15%;
    }
}