<!-- Iterate and Display Contributors -->
<section class="contributors hidemobile col-md-3 col-sm-3 col-xs-3">
	<h4 class = "contributor-title">CONTRIBUTORS</h4><br>	
	<% current_contributor = @contributor %>
		<% @contributors.each do |contributor| %>
		<% if current_contributor == contributor %>
				<p class = "current_contributor"><b>
					<%= current_contributor.name%>
				</b></p>
		<% else %>
				<%= link_to(contributor) do %>
				<p><%= contributor.name %></p>
				<!-- close link_tag -->
				<% end %>
			<!-- close if -->
		<% end %>
		<!-- close each -->
	<% end %>
</section>



