<%= render 'navbar' %>
<section class="row author-display">
	<% @authors.each do |author_group|%>
		<section class="row author-group">
				<ul>
				<% author_group.each do |author| %>
				<li class ="col-md-5 author"><%= author.join %></li>
			<% end %>
				</ul>
		</section>
	<% end %>
</section>