<% provide(:container_class, 'container-fluid') %>
<%= render 'navbar' %>
<section class="row">
	<section class="announce-authors text-center">
		<h1>Authors</h1>
	</section>
</section>
<section class="row author-display">
	<% @authors.each do |author_group|%>
		<section class="row author-group">
				<ul>
				<% author_group.each do |author| %>
				<li class ="col-md-5 col-sm-5 col-xs-5 author"><%= author.join %></li>
			<% end %>
				</ul>
		</section>
	<% end %>
</section>