<%= render 'navbar' %>
<% provide(:container_class, 'container-fluid') %>

<section class="row">
	<section class="announce-title text-center">
		<h1>Titles</h1>
	</section>
<section class="row title-display">
	<% @titles.each do |title_group|%>
		<section class="row title-group">
				<ul>
					<% title_group.each do |title| %>
						<li class ="col-md-3 col-sm-3 col-xs-3 titles"><%= title.join unless title.nil? %></li>
					<% end %>
				</ul>
		</section>
	<% end %>
</section>